In [10]:
library(dplyr)     #for some functions such as mutate
library(dslabs)    # for some dataset such as murders

In [32]:

# Below, write code to calculate the sum of the first 100 integers

n<-1:100
sum(n)

[1] 5050

In [33]:
# find the structure of the table

str(murders)

'data.frame':	51 obs. of  5 variables:
 $ state     : chr  "Alabama" "Alaska" "Arizona" "Arkansas" ...
 $ abb       : chr  "AL" "AK" "AZ" "AR" ...
 $ region    : Factor w/ 4 levels "Northeast","South",..: 2 4 4 2 4 4 1 2 2 2 ...
 $ population: num  4779736 710231 6392017 2915918 37253956 ...
 $ total     : num  135 19 232 93 1257 ...

In [34]:
# find column names

names(murders)

[1] "state"      "abb"        "region"     "population" "total"

In [38]:
# find the class of the column
class(murders$total)

[1] "numeric"

In [39]:
# We extract the population like this:
p <- murders$population

# This is how we do the same with the square brackets:
o <- murders[["population"]] 

# We can confirm these two are the same
identical(o, p)

[1] TRUE

In [43]:
#if a class is a factor(category) then you can use levels to see the grouping
class(murders$region)

levels(murders$region)

[1] "factor"

[1] "Northeast"     "South"         "North Central" "West"

In [47]:
# Here is an example of what the table function does
x <- c("a", "a", "b", "b", "b", "c")
table(x)

#example from murder table
table(murders$region)

x
a b c
2 3 1

    Northeast         South North Central          West
            9            17            12            13

In [ ]:
#Numeric Vectors



#A vector is a series of values, all of the same type. They are the most basic data type in R and can hold numeric data, character data, or logical data. In R, you can create a vector with the combine function c(). You place the vector elements separated by a comma between the parentheses. For example a numeric vector would look something like this: 
cost <- c(50, 75, 90, 100, 150)

In [ ]:
# Store the 5 abbreviations in abbs. (remember that they are character vectors)
abbs <- c("MA", "ME", "MI", "MO", "MU") 

# Use the `which` command and `!` operator to find out which abbreviation are not actually part of the dataset and store in ind
ind <- which(!abbs%in%murders$abb)
# What are the entries of abbs that are not actual abbreviations
abbs[5]

In [50]:
# Associate the cost values with its corresponding food item
cost <- c(50, 75, 90, 100, 150)
food <- c("pizza", "burgers", "salads", "cheese", "pasta")
names(cost) <- food


# cost of the last 3 items in our food list:
cost[3:5]

#To access the cost of pizza (1st) and pasta (5th food item) in our list, the code would be:
cost[c(1,5)]

salads cheese  pasta
    90    100    150

In [54]:
# Create a vector m of integers that starts at 32 and ends at 99.
m <- 32:99

# seq doing the same thing
n <- seq(32,99)

# check
identical(m,n)

# Determine the length of object m.
length(m)


# Create a vector with the multiples of 7, smaller than 50.
seq(7, 49, 7) 


#produces the numbers 0, 25, 50, 75, 100. 
seq(0, 100, length.out = 5)

[1] TRUE

[1] 68

[1]  7 14 21 28 35 42 49

[1]   0  25  50  75 100

In [55]:
# Define the vector x
x <- c(1, 3, 5,"a")

# Note that the x is character vector
class(x)

# Typecast the vector to get an integer vector
# You will get a warning but that is ok
x<-as.numeric(x)

[1] "character"

Warning message in eval(expr, envir, enclos):
"NAs introduced by coercion"

In [57]:
# Access the `state` variable and store it in an object 
states <- murders$state 

# Sort the object alphabetically and redefine the object 
states <- sort(states) 

# Report the first alphabetical value  
states[1]

# Access population values from the dataset and store it in pop
pop = murders$population

# Sort the object and save it in the same object 

pop <- sort(pop)
pop

# Report the smallest population size 
pop[1]

[1] "Alabama"

 [1]   563626   601723   625741   672591   710231   814180   897934   989415
 [9]  1052567  1316470  1328361  1360301  1567582  1826341  1852994  2059179
[17]  2700551  2763885  2853118  2915918  2967297  3046355  3574097  3751351
[25]  3831074  4339367  4533372  4625364  4779736  5029196  5303925  5686986
[33]  5773552  5988927  6346105  6392017  6483802  6547629  6724540  8001024
[41]  8791894  9535483  9883640  9920000 11536504 12702379 12830632 19378102
[49] 19687653 25145561 37253956

[1] 563626

In [56]:
# Access population from the dataset and store it in pop
pop <- murders$population

# Use the command order, to order pop and store in object o
o <- order(pop)
o
# Find the index number of the entry with the smallest population size
o[1]

 [1] 51  9 46 35  2 42  8 27 40 30 20 12 13 28 49 32 29 45 17  4 25 16  7 37 38
[26] 18 19 41  1  6 24 50 21 26 43  3 15 22 48 47 31 34 23 11 36 39 14 33 10 44
[51]  5

[1] 51

In [ ]:
# Find the smallest value for variable total 
which.min(murders$total)

# Find the smallest value for population
which.min(murders$population)

In [ ]:
# Define the variable i to be the index of the smallest state
i <- which.min(murders$population)

# Define variable states to hold the states

states <- murders$state

# Use the index you just defined to find the state with the smallest population
states[i]

In [ ]:
# Store temperatures in an object 
temp <- c(35, 88, 42, 84, 81, 30)

# Store city names in an object 
city <- c("Beijing", "Lagos", "Paris", "Rio de Janeiro", "San Juan", "Toronto")

# Create data frame with city names and temperature 
city_temps <- data.frame(name = city, temperature = temp)

# Define a variable states to be the state names 
states <- murders$state

# Define a variable ranks to determine the population size ranks 

ranks <- rank(murders$population)

In [ ]:
# Define a variable states to be the state names from the murders data frame

states<-murders$state

# Define a variable ranks to determine the population size ranks 
ranks<-rank(murders$population)

# Define a variable ind to store the indexes needed to order the population values
ind<-order(murders$population)

# Create a data frame my_df with the state name and its rank and ordered from least populous to most 
my_df<- data.frame(name = states[ind] ,rank = ranks[ind])

In [ ]:
# Using new dataset 
library(dslabs)
data(na_example)

# Checking the structure 
str(na_example)

# Find out the mean of the entire dataset 
mean(na_example)

# Use is.na to create a logical index ind that tells which entries are NA

ind<-is.na(na_example)

# Determine how many NA ind has using the sum function
sum(ind)

In [ ]:
# Note what we can do with the ! operator
x <- c(1, 2, 3)
ind <- c(FALSE, TRUE, FALSE)
x[!ind]

# Create the ind vector
library(dslabs)
data(na_example)
ind <- is.na(na_example)

# We saw that this gives an NA
mean(na_example)

# Compute the average, for entries of na_example that are not NA 
mean(na_example[!ind])

In [ ]:
# Create a data frame `city_temps` 
city_temps <- data.frame(name = city, temperature = temp)

In [17]:
x <- c(88, 100, 83, 92, 94)
x[rank(x)]

[1] 100  94  88  83  92

In [19]:
# Use filter to create a new data frame no_south
no_south <- filter(murders,region!="South")
# Use nrow() to calculate the number of rows
nrow(no_south)

[1] 34

In [21]:
# Create a new data frame called murders_nw with only the states from the northeast and the west
murders_nw<-filter(murders,region %in% c("Northeast","West"))
# Number of states (rows) in this category 
nrow(murders_nw)

[1] 22

In [ ]:
# add the rate column
# Note that if you want ranks from highest to lowest you can take the negative and ten compute the ranks 
x <- c(88, 100, 83, 92, 94)
rank(-x)

# Defining rate
rate <-  murders$total/ murders$population * 100000

# Redefine murders to include a column named rank
# with the ranks of rate from highest to lowest
murders <- mutate(murders, rank = rank(-rate))

# Create a table, call it my_states, that satisfies both the conditions 
my_states<-filter(murders,region %in% c("Northeast","West") & rate < 1)
# Use select to show only the state name, the murder rate and the rank
select(my_states,state,rate,rank)

In [ ]:
# Load library
library(dplyr)

## Define the rate column
murders <- mutate(murders, rate =  total / population * 100000, rank = rank(-rate))


# show the result and only include the state, rate, and rank columns, all in one line
filter(murders,region %in% c("Northeast","West") & rate < 1) %>% select(state,rate,rank)

In [25]:
# Loading the libraries
library(dplyr)
data(murders)

# Create new data frame called my_states (with specifications in the instructions)
 
my_states <- murders %>% mutate(rate =  total / population * 100000, rank = rank(-rate)) %>% filter(region %in% c("Northeast","West") & rate < 1) %>% select(state,rate,rank)

ERROR: Error in mutate_impl(.data, dots): Column `murders` must be length 51 (the number of rows) or one, not 5

In [29]:
# Load the datasets and define some variables
library(dslabs)
data(murders)

population_in_millions <- murders$population/10^6
total_gun_murders <- murders$total

plot(population_in_millions, total_gun_murders)

# Transform population using the log10 transformation and save to object log10_population
log10_population = log(murders$population,10)

# Transform total gun murders using log10 transformation and save to object log10_total_gun_murders
log10_total_gun_murders = log(murders$total,10)

# Create a scatterplot with the log scale transformed population and murders
plot(log10_population,log10_total_gun_murders)

[1] 4

In [ ]:
# Create a boxplot of state populations by region for the murders dataset
boxplot(population~region, data=murders)

In [ ]:
# Store the population in millions and save to population_in_millions 
population_in_millions <- murders$population/10^6


# Create a histogram of this variable
hist(population_in_millions)

In [2]:
library(dslabs)
data(murders)
summary(murders)

    state               abb                      region     population
 Length:51          Length:51          Northeast    : 9   Min.   :  563626
 Class :character   Class :character   South        :17   1st Qu.: 1696962
 Mode  :character   Mode  :character   North Central:12   Median : 4339367
                                       West         :13   Mean   : 6075769
                                                          3rd Qu.: 6636084
                                                          Max.   :37253956
     total
 Min.   :   2.0
 1st Qu.:  24.5
 Median :  97.0
 Mean   : 184.4
 3rd Qu.: 268.0
 Max.   :1257.0